

body{
    text-align: center;
}
.list-servicio{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header{
    
    text-align: center;    
    height: 614px;
    
    justify-content: center;
    align-items: center;
    
    
}
header{
    background: url("Nature-Waves-Men-Brotherhood-Bikers.png") no-repeat center top;
}

header h1{
    margin-top: 180px;
    text-align: center;
    font-size: 56px;
    color:floralwhite;
    max-width: 800px;
    display:inline-block;
    font-family:sans-serif;
    margin-bottom: 30px;
}
header h5{       
    color: floralwhite;
    font-family: sans-serif;
    max-width: 450px
    text-align:center;
    line-height:1.4;
    
}
.barra-navegacion{
    background-color:#262626;
    display: flex;
    height:63px;
    align-items: center;
    justify-content: center;       
    }

.barra-navegacion a{
    text-decoration:none;
    text-transform: uppercase;
    color: white;
    padding: 0 30px;
    font-family: sans-serif; 
}

/* -----------secciones----------*/
.qs{
    margin:0px;
    background-color:#f8f8f8;
    padding:0px;
    padding-top: 30px;
    height: 600px
}
.qs p{
    line-height: 2;
    
}
.ser {
    background-color:#262626;
   
}
h2 {
    padding-bottom: 25px;
    
}
.subtitulo1{
    color: #262626;
    padding-bottom: 35px;
    
}
.subtitulo2{
    color: white;
    padding-top: 20px;
}
.subtitulo3{
    color: #262626;
    padding-bottom: 10px;
    padding-top: 10px;
}
.subtitulo4{
    color: white;
}
.map {
    background-color:#f8f8f8;
    height: 600px;
}

#servicio{
    height: 600px;
    
}
.content-footer{
     background-color:#262626;
}

h2{
    font-size: 50px;
    font-family:sans-serif;
    color: gray;
}

.iphone{
   
    margin-left: 200px;
  display:flex;
    }

.piphone{
     text-align:justify;
    font-family:sans-serif;
    font-size: 23px;   
    margin-left: 60px;
    margin-right: 250px;
    
    
}


ul li h3 {
    color: white;
    font-family: sans-serif;
    }
ul li p{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

  .list-servicio li figure img{
    background: #ffff;
    border-radius:50%;
    width: 100px;
    height: 100px;
    
}

.list-servicio li{
    
    margin-left: 20px;
    margin-right: 20px;
}




















